
      .login-form{
        width: 400px;
        height: 300px;
        position:fixed;
        background-color: rgb(255, 255, 255);
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
        top: 50%;
        left: 25%;
        transform: translate(-50%,-50%);
      }
      #adminIdlable{
        margin-top: 15px;
      }
      body{
        /*background: url([[@{/image/bg.jpg}]]) no-repeat center center;
        background-size: cover;-->*/
        background-color:rgba(251, 251, 251,255);
      }
      .img{
        width: 650px;
        height: 650px;
        margin-left: 800px;
        margin-top: 20px;
      }
      

      .form-label{
        margin-left: 25px;
      }

      span{
        color: red;
        margin-left: 20px;
        font-size: 13px;
        
      }
      
      thead{
        background-color: black;
        color: aliceblue;
      }

      h1{
          text-align: center;
          text-shadow: 4px 2px rgba(0, 0, 0, 0.14);
      }