<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link  th:href="@{/styles/css/indexPageAndInputs.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Employee Managment System</title>

  </head>

  <body>
    <h1 class="display-4" th:text="'Employee ID '+${empDetail.EmpId}+' Detail'"></h1><br>

    <div class="container">
        <table class="table table-bordered table-hover">
      
        <tr>
          <th scope="col">Employee Id</th>
          <td th:text="${empDetail.EmpId}"></td>
     
          </tr>
          <tr>
            <th scope="col">FirstName</th>
            <td th:text="${empDetail.EmpFirstName}"></td>
          </tr>
          <tr>
            <th scope="col">LastName</th>
            <td th:text="${empDetail.EmpLastName}"></td>
          </tr>
          <tr>
            <th scope="col">Mail ID</th>
            <td th:text="${empDetail.EmpMailId}"></td>

          </tr>
          <tr>
            <th scope="col">Domain</th>
            <td th:text="${empDetail.EmpDomain}"></td>
          </tr>
          <tr>
            <th scope="col">Contact No.</th>
            <td th:text="${empDetail.EmpPhoneNum}"></td>
          </tr>
          <tr>
            <th scope="col">Age</th>
            <td th:text="${empDetail.Empage}"></td>
          </tr>
          <tr>
            <th scope="col">Gender</th>
            <td th:text="${empDetail.EmpGender}"></td>
          </tr>
           
        </tr> 
        
    </table>
    <a th:href="@{'/view/update/'+${empDetail.EmpId}}"  class="btn btn-outline-warning">Update</a>
    </div>
  
  </body>
</html>
